.App {
  text-align: center;
  max-width: fit-content;
}

/* form {
  border: 3px solid #b8b8b8;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
} */

/* Root */
#root {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  min-height: 100vh;
  margin-left: 0px;
  /* box-shadow: 15px 0px 35px -7px rgba(191, 180, 180, 0.85) inset; */
}

/* Ant table wrapper */
/* #root .App .ant-table-wrapper {
  box-shadow: 0px 0px 0px -50px rgba(0, 0, 0, 0.85);
} */

/* Colgroup */
.ant-table table colgroup {
  position: relative;
  padding-left: 0px;
  text-align: center;
}

/* Ant table cell */
.ant-table-tbody .ant-table-cell {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
  white-space: normal;
  letter-spacing: 1px;
  word-spacing: 4.4px;
  column-count: 1;
  visibility: visible;
  transform: translatex(17px) translatey(0px);
}

/* Ant */
#root
  .App
  .ant-table-wrapper
  .ant-spin-nested-loading
  .ant-spin-container
  .ant-table
  .ant-table-container
  .ant-table-content
  table
  .ant-table-tbody
  .ant-table-row-level-0
  .ant-table-cell
  .ant-btn {
  padding-left: 9% !important;
  padding-right: 8% !important;
  margin-left: 8% !important;
}

/* Ant */
.ant-table-tbody .ant-table-cell .ant-btn {
  margin-right: 14px;
  box-shadow: 0px 2px 12px 32px #3f51b5 inset;
  border-color: #ffffff;
  color: rgba(255, 255, 255, 0.85);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  transform: translatex(17px) translatey(0px);
  letter-spacing: -0.6px;
}

/* Ant table cell */
.ant-table-thead tr .ant-table-cell {
  text-align: center;
  letter-spacing: 3.8px;
  word-spacing: 1.6px;
  font-style: normal;
  width: 606px !important;
  transform: translatex(17px) translatey(0px);
  padding-right: 0%;
  padding-left: 9px;
}

@media (max-width: 480px) {
  /* Table */
  .ant-table table {
    margin-left: -4%;
    transform: translatex(17px) translatey(0px);
  }

  /* Ant table cell */
  .ant-table-tbody .ant-table-row-level-0 > .ant-table-cell {
    min-height: 126px;
  }

  /* Span Tag */
  .ant-table-tbody
    .ant-table-row-level-0:nth-child(1)
    .ant-btn:nth-child(1)
    span {
    padding-bottom: 0px;
    margin-bottom: -50px;
  }

  /* Ant */
  .ant-table-tbody .ant-table-cell .ant-btn {
    margin-top: 7px;
  }
}
.ant-table-tbody
  .ant-table-row-level-0:nth-child(1)
  .ant-table-cell:nth-child(4) {
  width: 1443px !important;
  overflow: auto;
}

.ant-table-tbody .ant-table-cell {
  max-width: 43px;
}
.ant-table-thead tr .ant-table-cell {
  text-align: center !important;
}
/* to correct the upper list  */
#root .ant-layout-header ul {
  height: 63px;
}
/* changed body color */
body {
  background-color: #ffffff;
}
